* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Gilroy-SemiBold;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 40px;
  margin-bottom: 84px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__link {
  display: flex;
  align-items: center;
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  padding: 5px 5px;
  margin-right: 20px;
}

.header__link.active {
  color: #f25822;
}

.navigation {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 162px;
}

.main__contant {
  display: flex;
  flex-direction: column;
}

.main__title {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 17px;
}

.main__text {
  min-width: 466px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;

  margin-bottom: 37px;
}

.button {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #aaaaaa;
  border: none;
  background-color: #fff;

  margin-right: 72px;
}

.button.active {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  border-radius: 50px;
  border: none;
  color: #fff;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px #f2582233;
  padding: 15px 35px;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 97px;
  margin-bottom: 96px;
}
