* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 39px;
  margin-bottom: 39px;
}

.header__link {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  margin-right: 40px;
  padding: 5px;
}

.top {
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 99px;
}

.top__content {
  display: flex;
  justify-content: space-between;

  margin-top: 160px;
  margin-bottom: 197px;
}

.top__info {
  max-width: 604px;
}

.text-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  color: #3a68b8;
  margin-bottom: 10px;
}

.text-title {
  font-size: 55px;
  font-weight: 800;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 40px;
}

.text-paragraph {
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 50px;
}

.top__info-button {
  display: flex;
}

.button {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  background: #3a68b8;

  padding: 15px;
  margin-right: 20px;

  display: flex;
}

.top__logo {
  display: flex;
  justify-content: space-between;
}
