* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

@import 'vars';
@import 'mixin';
@import 'header';
@import 'main';
@import 'banner';
@import 'product';
@import 'offer';
@import 'subscribe';
@import 'footer';





